:root{
  --size: 200px;
}

.clock{
  width: var(--size);
  height: var(--size);
  background-color: #ccc;
  border: 3px solid #000;
  border-radius: 50%;
  box-shadow: 0 0 10px 0 black;
  position: relative;
}

.sec-hand {
  width: 1px;
  height: 50%;
  background-color: black;
  transform-origin: 50% 80%;
  position: absolute;
  top: 10%;
  left: 50%;
}

.min-hand {
  width: 3px;
  height: 40%;
  background-color: blue;
  transform-origin: 50% 80%;
  position: absolute;
  top: 18%;
  left: calc(50% - 1px);
}

.hr-hand {
  width: 5px;
  height: 25%;
  background-color: red;
  transform-origin: 50% 80%;
  position: absolute;
  top: 30%;
  left: calc(50% + -2px);
}

.num{
  height: 100%;
  position: absolute;
  left: calc(50% - 0.5em);
}

.num div {
  width: 1em;
  line-height: 2em;
  color: brown;
  text-align: center;
  vertical-align: middle;
}

.num1 {
  transform: rotate(30deg);
}

.num1 div{
  transform: rotate(-30deg);
}

.num2 {
  transform: rotate(60deg);
}

.num2 div{
  transform: rotate(-60deg);
}

.num3 {
  transform: rotate(90deg);
}

.num3 div{
  transform: rotate(-90deg);
}

.num4 {
  transform: rotate(120deg);
}

.num4 div{
  transform: rotate(-120deg);
}

.num5 {
  transform: rotate(150deg);
}

.num5 div{
  transform: rotate(-150deg);
}

.num6 {
  transform: rotate(180deg);
}

.num6 div{
  transform: rotate(-180deg);
}

.num7 {
  transform: rotate(210deg);
}

.num7 div{
  transform: rotate(-210deg);
}

.num8 {
  transform: rotate(240deg);
}

.num8 div{
  transform: rotate(-240deg);
}

.num9 {
  transform: rotate(270deg);
}

.num9 div{
  transform: rotate(-270deg);
}

.num10 {
  transform: rotate(300deg);
}

.num10 div{
  transform: rotate(-300deg);
}

.num11 {
  transform: rotate(330deg);
}

.num11 div{
  transform: rotate(-330deg);
}

.num12 {
  transform: rotate(0deg);
}

.num12 div{
  transform: rotate(-0deg);
}